@theme {
  --color-in-black: #101828;
  --color-in-white: #ffffff;
  --color-in-primary-01: #f4f8ff;
  --color-in-primary-02: #deebff;
  --color-in-primary-03: #c2daff;
  --color-in-primary-04: #9dc4ff;
  --color-in-primary-05: #3b8aff;
  --color-in-primary-06: #0579fb;
  --color-in-primary-07: #1065e3;
  --color-in-primary-08: #004dc0;
  --color-in-primary-09: #003c96;
  --color-in-primary-10: #002d6f;
  --color-in-primary-11: #0c1321;
  --color-in-gray-01: #f7f8f9;
  --color-in-gray-02: #e7eaf2;
  --color-in-gray-03: #d4dae6;
  --color-in-gray-04: #bdc6d8;
  --color-in-gray-05: #a9b2c7;
  --color-in-gray-06: #6a7489;
  --color-in-gray-07: #333d52;
  --color-in-gray-08: #1f283c;
  --color-in-gray-09: #131923;
  --color-in-red-01: #ffedef;
  --color-in-red-02: #ffe8e9;
  --color-in-red-03: #ff9da4;
  --color-in-red-04: #fc3f4c;
  --color-in-red-05: #ea2432;
  --color-in-red-06: #ca1825;
  --color-in-red-07: #a3151f;
  --color-in-red-08: #76080f;
  --color-in-red-09: #330d0f;
  --color-in-yellow-01: #fff7e3;
  --color-in-yellow-02: #ffefca;
  --color-in-yellow-03: #ffdc8a;
  --color-in-yellow-04: #ffc134;
  --color-in-yellow-05: #ffb712;
  --color-in-yellow-06: #e79908;
  --color-in-yellow-07: #905f03;
  --color-in-yellow-08: #694707;
  --color-in-yellow-09: #32250f;
  --color-in-green-01: #ebfaf7;
  --color-in-green-02: #dcf7f1;
  --color-in-green-03: #8ee7d5;
  --color-in-green-04: #15d0ab;
  --color-in-green-05: #0fb997;
  --color-in-green-06: #008c70;
  --color-in-green-07: #0f6751;
  --color-in-green-08: #045545;
  --color-in-green-09: #10392b;
  --color-in-tooltip: rgba(19, 25, 35, 0.8);
  --color-in-dimmed: rgba(12, 19, 33, 0.4);

  --text-in-display-34-b: 2.125rem;
  --text-in-display-34-b--line-height: 1.36;
  --text-in-display-34-b--font-weight: 700;
  --text-in-display-34-b--letter-spacing: -0.01em;
  --text-in-display-34-m: 2.125rem;
  --text-in-display-34-m--line-height: 1.36;
  --text-in-display-34-m--font-weight: 500;
  --text-in-display-34-m--letter-spacing: -0.01em;

  --text-in-display-30-b: 1.875rem;
  --text-in-display-30-b--line-height: 1.36;
  --text-in-display-30-b--font-weight: 700;
  --text-in-display-30-b--letter-spacing: -0.01em;
  --text-in-display-30-m: 1.875rem;
  --text-in-display-30-m--line-height: 1.36;
  --text-in-display-30-m--font-weight: 500;
  --text-in-display-30-m--letter-spacing: -0.01em;

  --text-in-headline-24-b: 1.5rem;
  --text-in-headline-24-b--line-height: 1.4;
  --text-in-headline-24-b--font-weight: 700;
  --text-in-headline-24-b--letter-spacing: -0.01em;
  --text-in-headline-24-m: 1.5rem;
  --text-in-headline-24-m--line-height: 1.4;
  --text-in-headline-24-m--font-weight: 500;
  --text-in-headline-24-m--letter-spacing: -0.01em;

  --text-in-headline-20-b: 1.25rem;
  --text-in-headline-20-b--line-height: 1.4;
  --text-in-headline-20-b--font-weight: 700;
  --text-in-headline-20-b--letter-spacing: -0.01em;
  --text-in-headline-20-m: 1.25rem;
  --text-in-headline-20-m--line-height: 1.4;
  --text-in-headline-20-m--font-weight: 500;
  --text-in-headline-20-m--letter-spacing: -0.01em;

  --text-in-body-18-b: 1.125rem;
  --text-in-body-18-b--line-height: 1.5;
  --text-in-body-18-b--font-weight: 700;
  --text-in-body-18-b--letter-spacing: -0.01em;
  --text-in-body-18-m: 1.125rem;
  --text-in-body-18-m--line-height: 1.5;
  --text-in-body-18-m--font-weight: 500;
  --text-in-body-18-m--letter-spacing: -0.01em;
  --text-in-body-18-r: 1.125rem;
  --text-in-body-18-r--line-height: 1.5;
  --text-in-body-18-r--font-weight: 400;
  --text-in-body-18-r--letter-spacing: -0.01em;

  --text-in-body-16-b: 1rem;
  --text-in-body-16-b--line-height: 1.5;
  --text-in-body-16-b--font-weight: 700;
  --text-in-body-16-b--letter-spacing: -0.01em;
  --text-in-body-16-m: 1rem;
  --text-in-body-16-m--line-height: 1.5;
  --text-in-body-16-m--font-weight: 500;
  --text-in-body-16-m--letter-spacing: -0.01em;
  --text-in-body-16-r: 1rem;
  --text-in-body-16-r--line-height: 1.5;
  --text-in-body-16-r--font-weight: 400;
  --text-in-body-16-r--letter-spacing: -0.01em;

  --text-in-body-14-b: 0.875rem;
  --text-in-body-14-b--line-height: 1.5;
  --text-in-body-14-b--font-weight: 700;
  --text-in-body-14-b--letter-spacing: -0.01em;
  --text-in-body-14-m: 0.875rem;
  --text-in-body-14-m--line-height: 1.5;
  --text-in-body-14-m--font-weight: 500;
  --text-in-body-14-m--letter-spacing: -0.01em;
  --text-in-body-14-r: 0.875rem;
  --text-in-body-14-r--line-height: 1.5;
  --text-in-body-14-r--font-weight: 400;
  --text-in-body-14-r--letter-spacing: -0.01em;

  --text-in-body-12-b: 0.75rem;
  --text-in-body-12-b--line-height: 1.5;
  --text-in-body-12-b--font-weight: 700;
  --text-in-body-12-b--letter-spacing: -0.01em;
  --text-in-body-12-m: 0.75rem;
  --text-in-body-12-m--line-height: 1.5;
  --text-in-body-12-m--font-weight: 500;
  --text-in-body-12-m--letter-spacing: -0.01em;

  --radius-in-4: 0.25rem;
  --radius-in-6: 0.375rem;
  --radius-in-8: 0.5rem;
  --radius-in-12: 0.75rem;
  --radius-in-16: 1rem;
  --radius-in-20: 1.25rem;
  --radius-in-24: 1.5rem;
  --radius-in-full: calc(infinity * 1px);

  --shadow-in-4: 0px 1px 4px 0px rgba(16, 24, 40, 0.12);
  --shadow-in-8: 0px 3px 8px 0px rgba(16, 24, 40, 0.14);
  --shadow-in-12: 0px 6px 12px 0px rgba(16, 24, 40, 0.16);
  --shadow-in-20: 0px 8px 20px 0px rgba(16, 24, 40, 0.2);
  --shadow-in-24: 0px 10px 24px 0px rgba(16, 24, 40, 0.3);
  --shadow-in-30: 0px 12px 30px 0px rgba(16, 24, 40, 0.36);

  --breakpoint-in-mobile: 22.5rem;
  --breakpoint-in-tablet: 51.25rem;
  --breakpoint-in-desktop: 73.75rem;
  --container-in-mobile: 51.1875rem;
  --container-in-tablet: 73.6875rem;
  --container-in-desktop: 120rem;

  --animate-in-fade-in: fade-in 0.2s cubic-bezier(0, 0, 0.5, 1);
  --animate-in-fade-in-select: fade-in 0.3s ease;
  --animate-in-popup: popup 0.2s cubic-bezier(0, 0, 0.5, 1);
  --animate-in-bottom-sheet: bottom-sheet 0.2s cubic-bezier(0, 0, 0.5, 1);
  --animate-in-toast-in: toast-in 0.2s ease;
  --animate-in-toast-out: toast-out 0.2s ease forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes popup {
    0% {
      transform: translateY(1rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes bottom-sheet {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes toast-in {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes toast-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
