@theme {
  --color-black: #101828;
  --color-white: #ffffff;
  --color-primary-01: #f4f8ff;
  --color-primary-02: #deebff;
  --color-primary-03: #c2daff;
  --color-primary-04: #9dc4ff;
  --color-primary-05: #3b8aff;
  --color-primary-06: #0579fb;
  --color-primary-07: #1065e3;
  --color-primary-08: #004dc0;
  --color-primary-09: #003c96;
  --color-primary-10: #002d6f;
  --color-primary-11: #0c1321;
  --color-gray-01: #f7f8f9;
  --color-gray-02: #e7eaf2;
  --color-gray-03: #d4dae6;
  --color-gray-04: #bdc6d8;
  --color-gray-05: #a9b2c7;
  --color-gray-06: #6a7489;
  --color-gray-07: #333d52;
  --color-gray-08: #1f283c;
  --color-gray-09: #131923;
  --color-red-01: #ffedef;
  --color-red-02: #ffe8e9;
  --color-red-03: #ff9da4;
  --color-red-04: #fc3f4c;
  --color-red-05: #ea2432;
  --color-red-06: #ca1825;
  --color-red-07: #a3151f;
  --color-red-08: #76080f;
  --color-red-09: #330d0f;
  --color-yellow-01: #fff7e3;
  --color-yellow-02: #ffefca;
  --color-yellow-03: #ffdc8a;
  --color-yellow-04: #ffc134;
  --color-yellow-05: #ffb712;
  --color-yellow-06: #e79908;
  --color-yellow-07: #905f03;
  --color-yellow-08: #694707;
  --color-yellow-09: #32250f;
  --color-green-01: #ebfaf7;
  --color-green-02: #dcf7f1;
  --color-green-03: #8ee7d5;
  --color-green-04: #15d0ab;
  --color-green-05: #0fb997;
  --color-green-06: #008c70;
  --color-green-07: #0f6751;
  --color-green-08: #045545;
  --color-green-09: #10392b;
  --color-tooltip: rgba(19, 25, 35, 0.8);
  --color-dimmed: rgba(12, 19, 33, 0.4);

  --text-display-34-b: 2.125rem;
  --text-display-34-b--line-height: 1.36;
  --text-display-34-b--font-weight: 700;
  --text-display-34-b--letter-spacing: -0.01em;
  --text-display-34-m: 2.125rem;
  --text-display-34-m--line-height: 1.36;
  --text-display-34-m--font-weight: 500;
  --text-display-34-m--letter-spacing: -0.01em;

  --text-display-30-b: 1.875rem;
  --text-display-30-b--line-height: 1.36;
  --text-display-30-b--font-weight: 700;
  --text-display-30-b--letter-spacing: -0.01em;
  --text-display-30-m: 1.875rem;
  --text-display-30-m--line-height: 1.36;
  --text-display-30-m--font-weight: 500;
  --text-display-30-m--letter-spacing: -0.01em;

  --text-headline-24-b: 1.5rem;
  --text-headline-24-b--line-height: 1.4;
  --text-headline-24-b--font-weight: 700;
  --text-headline-24-b--letter-spacing: -0.01em;
  --text-headline-24-m: 1.5rem;
  --text-headline-24-m--line-height: 1.4;
  --text-headline-24-m--font-weight: 500;
  --text-headline-24-m--letter-spacing: -0.01em;

  --text-headline-20-b: 1.25rem;
  --text-headline-20-b--line-height: 1.4;
  --text-headline-20-b--font-weight: 700;
  --text-headline-20-b--letter-spacing: -0.01em;
  --text-headline-20-m: 1.25rem;
  --text-headline-20-m--line-height: 1.4;
  --text-headline-20-m--font-weight: 500;
  --text-headline-20-m--letter-spacing: -0.01em;

  --text-body-18-b: 1.125rem;
  --text-body-18-b--line-height: 1.5;
  --text-body-18-b--font-weight: 700;
  --text-body-18-b--letter-spacing: -0.01em;
  --text-body-18-m: 1.125rem;
  --text-body-18-m--line-height: 1.5;
  --text-body-18-m--font-weight: 500;
  --text-body-18-m--letter-spacing: -0.01em;
  --text-body-18-r: 1.125rem;
  --text-body-18-r--line-height: 1.5;
  --text-body-18-r--font-weight: 400;
  --text-body-18-r--letter-spacing: -0.01em;

  --text-body-16-b: 1rem;
  --text-body-16-b--line-height: 1.5;
  --text-body-16-b--font-weight: 700;
  --text-body-16-b--letter-spacing: -0.01em;
  --text-body-16-m: 1rem;
  --text-body-16-m--line-height: 1.5;
  --text-body-16-m--font-weight: 500;
  --text-body-16-m--letter-spacing: -0.01em;
  --text-body-16-r: 1rem;
  --text-body-16-r--line-height: 1.5;
  --text-body-16-r--font-weight: 400;
  --text-body-16-r--letter-spacing: -0.01em;

  --text-body-14-b: 0.875rem;
  --text-body-14-b--line-height: 1.5;
  --text-body-14-b--font-weight: 700;
  --text-body-14-b--letter-spacing: -0.01em;
  --text-body-14-m: 0.875rem;
  --text-body-14-m--line-height: 1.5;
  --text-body-14-m--font-weight: 500;
  --text-body-14-m--letter-spacing: -0.01em;
  --text-body-14-r: 0.875rem;
  --text-body-14-r--line-height: 1.5;
  --text-body-14-r--font-weight: 400;
  --text-body-14-r--letter-spacing: -0.01em;

  --text-body-12-b: 0.75rem;
  --text-body-12-b--line-height: 1.5;
  --text-body-12-b--font-weight: 700;
  --text-body-12-m: 0.75rem;
  --text-body-12-m--line-height: 1.5;
  --text-body-12-m--font-weight: 500;

  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-full: calc(infinity * 1px);

  --shadow-4: 0px 1px 4px 0px rgba(16, 24, 40, 0.12);
  --shadow-8: 0px 3px 8px 0px rgba(16, 24, 40, 0.14);
  --shadow-12: 0px 6px 12px 0px rgba(16, 24, 40, 0.16);
  --shadow-20: 0px 8px 20px 0px rgba(16, 24, 40, 0.2);
  --shadow-24: 0px 10px 24px 0px rgba(16, 24, 40, 0.3);
  --shadow-30: 0px 12px 30px 0px rgba(16, 24, 40, 0.36);

  --breakpoint-sm: 22.5rem;
  --breakpoint-md: 51.25rem;
  --breakpoint-lg: 73.75rem;
  --container-sm: var(--breakpoint-sm);
  --container-md: var(--breakpoint-md);
  --container-lg: var(--breakpoint-lg);

  --animate-fade-in: fade-in 0.2s cubic-bezier(0, 0, 0.5, 1);
  --animate-popup: popup 0.2s cubic-bezier(0, 0, 0.5, 1);
  --animate-bottom-sheet: bottom-sheet 0.2s cubic-bezier(0, 0, 0.5, 1);

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes popup {
    0% {
      transform: translateY(1rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes bottom-sheet {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
