@theme {
  --color-black: #101828;
  --color-white: #ffffff;
  --color-primary-01: #f4f8ff;
  --color-primary-02: #deebff;
  --color-primary-03: #c2daff;
  --color-primary-04: #9dc4ff;
  --color-primary-05: #3b8aff;
  --color-primary-06: #0579fb;
  --color-primary-07: #1065e3;
  --color-primary-08: #004dc0;
  --color-primary-09: #003c96;
  --color-primary-10: #002d6f;
  --color-primary-11: #0c1321;
  --color-gray-01: #f7f8f9;
  --color-gray-02: #e7eaf2;
  --color-gray-03: #d4dae6;
  --color-gray-04: #bdc6d8;
  --color-gray-05: #a9b2c7;
  --color-gray-06: #6a7489;
  --color-gray-07: #333d52;
  --color-gray-08: #1f283c;
  --color-gray-09: #131923;
  --color-red-01: #ffedef;
  --color-red-02: #ffe8e9;
  --color-red-03: #ff9da4;
  --color-red-04: #fc3f4c;
  --color-red-05: #ea2432;
  --color-red-06: #ca1825;
  --color-red-07: #a3151f;
  --color-red-08: #76080f;
  --color-red-09: #330d0f;
  --color-yellow-01: #fff7e3;
  --color-yellow-02: #ffefca;
  --color-yellow-03: #ffdc8a;
  --color-yellow-04: #ffc134;
  --color-yellow-05: #ffb712;
  --color-yellow-06: #e79908;
  --color-yellow-07: #905f03;
  --color-yellow-08: #694707;
  --color-yellow-09: #32250f;
  --color-green-01: #ebfaf7;
  --color-green-02: #dcf7f1;
  --color-green-03: #8ee7d5;
  --color-green-04: #15d0ab;
  --color-green-05: #0fb997;
  --color-green-06: #008c70;
  --color-green-07: #0f6751;
  --color-green-08: #045545;
  --color-green-09: #10392b;
}
