@utility in-flex-v-stack {
  @apply flex flex-col;
}

@utility in-flex-h-stack {
  @apply flex flex-row;
}

@utility in-flex-v-stack-center {
  @apply in-flex-v-stack items-center justify-center;
}

@utility in-flex-h-stack-center {
  @apply in-flex-h-stack items-center justify-center;
}

@utility in-safe-area-top {
  padding-top: calc(constant(in-safe-area-inset-top));
  padding-top: calc(env(afe-area-inset-top));
}

@utility in-safe-area-bottom {
  padding-bottom: calc(constant(in-safe-area-inset-bottom));
  padding-bottom: calc(env(in-safe-area-inset-bottom));
}

@utility in-safe-area-y {
  @apply in-safe-area-top in-safe-area-bottom;
}

@utility in-safe-area-left {
  padding-left: calc(constant(safe-area-inset-left) + 1rem);
  padding-left: calc(env(safe-area-inset-left) + 1rem);
}

@utility in-safe-area-right {
  padding-right: calc(constant(safe-area-inset-right) + 1rem);
  padding-right: calc(env(safe-area-inset-right) + 1rem);
}

@utility in-safe-area-x {
  @apply in-safe-area-right in-safe-area-left;
}

@utility in-safe-area {
  @apply in-safe-area-top in-safe-area-right in-safe-area-bottom in-safe-area-left;
}
