@theme {
  --color-blue-50: #f1f6ff;
  --color-blue-100: #ebf3ff;
  --color-blue-200: #d1e3ff;
  --color-blue-300: #97befa;
  --color-blue-400: #558ee1;
  --color-blue-500: #3182f6;
  --color-blue-600: #2372dc;
  --color-blue-700: #1a5fc4;
  --color-blue-800: #184fa0;
  --color-blue-900: #183868;
  --color-red-50: #ffefef;
  --color-red-100: #fbd5d5;
  --color-red-200: #f6aeae;
  --color-red-300: #f08585;
  --color-red-400: #e85d5d;
  --color-red-500: #cb3d3d;
  --color-red-600: #bd2222;
  --color-red-700: #991515;
  --color-red-800: #790d0d;
  --color-red-900: #460a0a;
  --color-yellow-50: #fef6e6;
  --color-yellow-100: #fce9bf;
  --color-yellow-200: #f8d485;
  --color-yellow-300: #fbc656;
  --color-yellow-400: #f8ba44;
  --color-yellow-500: #eab813;
  --color-yellow-600: #ce9f1d;
  --color-yellow-700: #8c5e09;
  --color-yellow-800: #5b4404;
  --color-yellow-900: #472802;
  --color-green-50: #e7f7f5;
  --color-green-100: #d2f4ea;
  --color-green-200: #a2decb;
  --color-green-300: #79c8b5;
  --color-green-400: #53b29f;
  --color-green-500: #129886;
  --color-green-600: #147d73;
  --color-green-700: #106a5d;
  --color-green-800: #075450;
  --color-green-900: #0c4239;
  --color-gray-50: #f7f8fb;
  --color-gray-100: #f0f2f7;
  --color-gray-200: #e3e6ee;
  --color-gray-300: #ced4e0;
  --color-gray-400: #aeb5c6;
  --color-gray-500: #8a93a8;
  --color-gray-600: #69738c;
  --color-gray-700: #4c566e;
  --color-gray-800: #333c51;
  --color-gray-900: #1a2233;

  --text-heading-1-bold: 2.25rem;
  --text-heading-1-bold--line-height: 1.4;
  --text-heading-1-bold--font-weight: 700;
  --text-heading-1-bold--letter-spacing: -0.01em;
  --text-heading-1: 2.25rem;
  --text-heading-1--line-height: 1.4;
  --text-heading-1--font-weight: 600;
  --text-heading-1--letter-spacing: -0.01em;

  --text-heading-2-bold: 1.75rem;
  --text-heading-2-bold--line-height: 1.4;
  --text-heading-2-bold--font-weight: 700;
  --text-heading-2-bold--letter-spacing: -0.01em;
  --text-heading-2: 1.75rem;
  --text-heading-2--line-height: 1.4;
  --text-heading-2--font-weight: 600;
  --text-heading-2--letter-spacing: -0.01em;

  --text-heading-3-bold: 1.5rem;
  --text-heading-3-bold--line-height: 1.4;
  --text-heading-3-bold--font-weight: 700;
  --text-heading-3-bold--letter-spacing: -0.01em;
  --text-heading-3: 1.5rem;
  --text-heading-3--line-height: 1.4;
  --text-heading-3--font-weight: 600;
  --text-heading-3--letter-spacing: -0.01em;

  --text-heading-4-bold: 1.25rem;
  --text-heading-4-bold--line-height: 1.45;
  --text-heading-4-bold--font-weight: 700;
  --text-heading-4-bold--letter-spacing: -0.01em;
  --text-heading-4: 1.25rem;
  --text-heading-4--line-height: 1.45;
  --text-heading-4--font-weight: 600;
  --text-heading-4--letter-spacing: -0.01em;

  --text-heading-5: 1.125rem;
  --text-heading-5--line-height: 1.45;
  --text-heading-5--font-weight: 700;
  --text-heading-5--letter-spacing: -0.01em;

  --text-body-lg-semibold: 1.125rem;
  --text-body-lg-semibold--line-height: 1.45;
  --text-body-lg-semibold--font-weight: 600;
  --text-body-lg-semibold--letter-spacing: 0;
  --text-body-lg: 1.125rem;
  --text-body-lg--line-height: 1.45;
  --text-body-lg--font-weight: 500;
  --text-body-lg--letter-spacing: -0.03em;

  --text-body-bold: 1rem;
  --text-body-bold--line-height: 1.45;
  --text-body-bold--font-weight: 700;
  --text-body-bold--letter-spacing: -0.03em;
  --text-body-semibold: 1rem;
  --text-body-semibold--line-height: 1.45;
  --text-body-semibold--font-weight: 600;
  --text-body-semibold--letter-spacing: -0.03em;
  --text-body: 1rem;
  --text-body--line-height: 1.45;
  --text-body--font-weight: 500;
  --text-body--letter-spacing: -0.03em;

  --text-label-bold: 0.875rem;
  --text-label-bold--line-height: 1.45;
  --text-label-bold--font-weight: 700;
  --text-label-bold--letter-spacing: -0.03em;
  --text-label-semibold: 0.875rem;
  --text-label-semibold--line-height: 1.45;
  --text-label-semibold--font-weight: 600;
  --text-label-semibold--letter-spacing: -0.03em;
  --text-label: 0.875rem;
  --text-label--line-height: 1.45;
  --text-label--font-weight: 500;
  --text-label--letter-spacing: -0.03em;

  --text-caption: 0.75rem;
  --text-caption--line-height: 1.5;
  --text-caption--font-weight: 600;
  --text-caption--letter-spacing: -0.01em;

  --shadow-4: 0 1px 4px 0 rgb(51 60 81 / 0.12);
  --shadow-8: 0 4px 8px 0 rgb(51 60 81 / 0.12);
  --shadow-12: 0 6px 12px 0 rgb(51 60 81 / 0.1);
  --shadow-20: 0 10px 20px 0 rgb(51 60 81 / 0.2);
  --shadow-24: 0 8px 20px 0 rgb(51 60 81 / 0.3);
  --shadow-30: 0 11px 30px 0 rgb(51 60 81 / 0.3);

  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
}
