@theme {
  --color-biz-blue-50: #f1f6ff;
  --color-biz-blue-100: #ebf3ff;
  --color-biz-blue-200: #d1e3ff;
  --color-biz-blue-300: #97befa;
  --color-biz-blue-400: #558ee1;
  --color-biz-blue-500: #3182f6;
  --color-biz-blue-600: #2372dc;
  --color-biz-blue-700: #1a5fc4;
  --color-biz-blue-800: #184fa0;
  --color-biz-blue-900: #183868;
  --color-biz-red-50: #ffefef;
  --color-biz-red-100: #fbd5d5;
  --color-biz-red-200: #f6aeae;
  --color-biz-red-300: #f08585;
  --color-biz-red-400: #e85d5d;
  --color-biz-red-500: #cb3d3d;
  --color-biz-red-600: #bd2222;
  --color-biz-red-700: #991515;
  --color-biz-red-800: #790d0d;
  --color-biz-red-900: #460a0a;
  --color-biz-yellow-50: #fef6e6;
  --color-biz-yellow-100: #fce9bf;
  --color-biz-yellow-200: #f8d485;
  --color-biz-yellow-300: #fbc656;
  --color-biz-yellow-400: #f8ba44;
  --color-biz-yellow-500: #eab813;
  --color-biz-yellow-600: #ce9f1d;
  --color-biz-yellow-700: #8c5e09;
  --color-biz-yellow-800: #5b4404;
  --color-biz-yellow-900: #472802;
  --color-biz-green-50: #e7f7f5;
  --color-biz-green-100: #d2f4ea;
  --color-biz-green-200: #a2decb;
  --color-biz-green-300: #79c8b5;
  --color-biz-green-400: #53b29f;
  --color-biz-green-500: #129886;
  --color-biz-green-600: #147d73;
  --color-biz-green-700: #106a5d;
  --color-biz-green-800: #075450;
  --color-biz-green-900: #0c4239;
  --color-biz-gray-50: #f7f8fb;
  --color-biz-gray-100: #f0f2f7;
  --color-biz-gray-200: #e3e6ee;
  --color-biz-gray-300: #ced4e0;
  --color-biz-gray-400: #aeb5c6;
  --color-biz-gray-500: #8a93a8;
  --color-biz-gray-600: #69738c;
  --color-biz-gray-700: #4c566e;
  --color-biz-gray-800: #333c51;
  --color-biz-gray-900: #1a2233;

  --text-biz-heading-1-bold: 2.25rem;
  --text-biz-heading-1-bold--line-height: 1.4;
  --text-biz-heading-1-bold--font-weight: 700;
  --text-biz-heading-1-bold--letter-spacing: -0.01em;
  --text-biz-heading-1: 2.25rem;
  --text-biz-heading-1--line-height: 1.4;
  --text-biz-heading-1--font-weight: 600;
  --text-biz-heading-1--letter-spacing: -0.01em;

  --text-biz-heading-2-bold: 1.75rem;
  --text-biz-heading-2-bold--line-height: 1.4;
  --text-biz-heading-2-bold--font-weight: 700;
  --text-biz-heading-2-bold--letter-spacing: -0.01em;
  --text-biz-heading-2: 1.75rem;
  --text-biz-heading-2--line-height: 1.4;
  --text-biz-heading-2--font-weight: 600;
  --text-biz-heading-2--letter-spacing: -0.01em;

  --text-biz-heading-3-bold: 1.5rem;
  --text-biz-heading-3-bold--line-height: 1.4;
  --text-biz-heading-3-bold--font-weight: 700;
  --text-biz-heading-3-bold--letter-spacing: -0.01em;
  --text-biz-heading-3: 1.5rem;
  --text-biz-heading-3--line-height: 1.4;
  --text-biz-heading-3--font-weight: 600;
  --text-biz-heading-3--letter-spacing: -0.01em;

  --text-biz-heading-4-bold: 1.25rem;
  --text-biz-heading-4-bold--line-height: 1.45;
  --text-biz-heading-4-bold--font-weight: 700;
  --text-biz-heading-4-bold--letter-spacing: -0.01em;
  --text-biz-heading-4: 1.25rem;
  --text-biz-heading-4--line-height: 1.45;
  --text-biz-heading-4--font-weight: 600;
  --text-biz-heading-4--letter-spacing: -0.01em;

  --text-biz-heading-5: 1.125rem;
  --text-biz-heading-5--line-height: 1.45;
  --text-biz-heading-5--font-weight: 700;
  --text-biz-heading-5--letter-spacing: -0.01em;

  --text-biz-body-lg: 1.125rem;
  --text-biz-body-lg--line-height: 1.45;
  --text-biz-body-lg--font-weight: 500;
  --text-biz-body-lg--letter-spacing: -0.03em;

  --text-biz-body-bold: 1rem;
  --text-biz-body-bold--line-height: 1.45;
  --text-biz-body-bold--font-weight: 700;
  --text-biz-body-bold--letter-spacing: -0.03em;
  --text-biz-body-semibold: 1rem;
  --text-biz-body-semibold--line-height: 1.45;
  --text-biz-body-semibold--font-weight: 600;
  --text-biz-body-semibold--letter-spacing: -0.03em;
  --text-biz-body: 1rem;
  --text-biz-body--line-height: 1.45;
  --text-biz-body--font-weight: 500;
  --text-biz-body--letter-spacing: -0.03em;

  --text-biz-label-bold: 0.875rem;
  --text-biz-label-bold--line-height: 1.45;
  --text-biz-label-bold--font-weight: 700;
  --text-biz-label-bold--letter-spacing: -0.03em;
  --text-biz-label-semibold: 0.875rem;
  --text-biz-label-semibold--line-height: 1.45;
  --text-biz-label-semibold--font-weight: 600;
  --text-biz-label-semibold--letter-spacing: -0.03em;
  --text-biz-label: 0.875rem;
  --text-biz-label--line-height: 1.45;
  --text-biz-label--font-weight: 500;
  --text-biz-label--letter-spacing: -0.03em;

  --text-biz-caption: 0.75rem;
  --text-biz-caption--line-height: 1.5;
  --text-biz-caption--font-weight: 600;
  --text-biz-caption--letter-spacing: -0.01em;
}
